<div class="m-subheader doNotPrint">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Sales
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a class="m-nav__link m-nav__link--icon" href="#" ng-reflect-href="#">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link" href="" ng-reflect-href="">
						<span class="m-nav__link-text">
							Home
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link" href="" ng-reflect-href="">
						<span class="m-nav__link-text">
							Sales
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="m-content col-lg-12">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <div class="row doNotPrint">

                    <div class="col-1">
                    </div>
                    <div class="m-input-icon m-input-icon--left col-2" style="font-size: 16px;">
                        <input matInput class="form-control m-input" id="m_form_search" (keyup)="applyFilter($event.target.value)" placeholder="Filter..." type="text">
                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span>
                                        <i class="la la-search"></i>
                                    </span>
                                </span>
                    </div>
                    &emsp;
                    <div id="addItem" class="col-3">
                        <div class="input-group pull-right">
                            <input type="text" name="daterangeInput" daterangepicker [options]="options" (selected)="selectWithDateRange($event, daterange)" />
                            <span class="input-group-addon">
								    <i class="la la-calendar-check-o"></i>
							    </span>
                            &emsp;

                            <button class="btn btn-outline-warning btn-sm" *ngIf="showDateRangeClearBtn" type="button" (click)="dateRangeClear()"> <i class="fa fa-remove"></i> Clear</button>

                        </div>
                    </div>
                </div>

                <!--pop up modal-->
                <!--begin::Modal-->
                <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header doNotPrint">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Proforma View
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        &times;
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body print_this">
                                <div class="">
                                    <div class="row">

                                        <h1 class="col-12" style="font-weight: bold; font-size: 28px; text-align: center; padding-top: 5px;">
                                            Ellilta Aluminium Techincs And Trading PLC
                                        </h1>

                                    </div>
                                    <div class="row">
                                        <hr/>
                                        <br/> <br/><br/><br/>
                                        <div class="col-12" style="text-align: center">
                                            <h2 style="padding: 35px;">Sale</h2>
                                        </div>
                                        <br/>
                                    </div>
                                    <div class="row" style="font-weight: 800; font-size: 14px; padding: 25px;">
                                        <div class="col-6" style="float: left;">
                                            <h5 class="text-bold text-gray"> Client Details</h5>
                                            <div class="form-inline">
                                                <label class="control-label"> <span> Bill to: {{printSaleDetail.bill_to}} </span> </label>
                                            </div>
                                            <div class="form-inline">
                                                <label class="control-label">TIN No: <span>{{printSaleDetail.TIN_NO}}</span> </label>
                                            </div>
                                            <div class="form-inline">
                                                <label class="control-label">Address: <span>{{printSaleDetail.address}}</span></label>
                                            </div>
                                        </div>

                                        <div class="col-6" style="float: right; text-align: right; child-align: right;">
                                            <h5 class="text-bold text-gray"> Payment Details  </h5>
                                            <div class="">
                                                <label class="">Date : <span> {{printSaleDetail.sale_date}} </span>&emsp;</label>
                                            </div>
                                            <div>
                                                <label class="">Reference : <span> {{printSaleDetail.reference}} </span></label>
                                            </div>

                                            <div class="">
                                                <label class="">FSNO : <span> {{printSaleDetail.id}} </span></label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Invoice Entries -->
                                    <table class="table m-table m-table--head-bg-brand table-bordered" >
                                        <thead>
                                        <tr class="no-borders">
                                            <th class="text-center hidden-xs">Item-Code</th>
                                            <th width="" class="text-center">Product</th>
                                            <th width="" class="text-center">Sub-Category</th>
                                            <th width="" class="text-center">Unit</th>
                                            <th width="" class="text-center">Kg/Unit</th>
                                            <th class="text-center hidden-xs">Quantity</th>
                                            <th class="text-center hidden-xs">Price/Kg</th>
                                            <th width="" class="text-center">Unit Price</th>
                                            <th class="text-center">Line Total</th>
                                        </tr>
                                        </thead>

                                        <tbody>

                                        <tr *ngFor="let item of printSaleItems; let i = index;" style="">
                                            <td class="text-center hidden-xs">{{item.custom_id}}</td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.subcategory}}</td>
                                            <td class="text-center hidden-xs">{{item.unit}}</td>
                                            <td class="text-center hidden-xs">{{item.kg_per_bar}}</td>
                                            <td class="text-center"> {{item.quantity}} </td>
                                            <td class="text-center"> {{item.price_per_kg}} </td>
                                            <td class="text-right"> {{item.item_price | number:'.2' }} </td>
                                            <td class="text-right text-primary text-bold">{{item.item_price * item.quantity | number:'.2'}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <br/>
                                <br/>
                                <!-- Invoice Subtotals and Totals -->
                                <div class="row" style="padding: 20px;">


                                    <div class="col-6 " style="font-weight: 600; font-size: 14px; float: left;">
                                        <address>
                                            A.A, YEKA<br>
                                            W. 08 H.No New / FA104 <br>
                                            MEGENAGNA ZEFMESH BUILDING 1ST FLOOR<br>
                                            Tel: 09-63-49-49-49 / 0911517767  <br>
                                            TIN: 0050305108 <br>
                                        </address>
                                    </div>

                                    <div class="col-6 " style="font-weight: 700; font-size: 15px; float: right; text-align: right;">
                                <span>
                                    Sub - Total amount:
                                    <strong> ${{printSaleDetail.subTotal | number : '1.2-2'}} </strong>
                                </span> <br/>

                                        <span>
                                    Discount:
                                    <strong>
                                        <label>
                                            <em class=""> {{printSaleDetail.discount}} </em> % &nbsp;
                                            ${{((printSaleDetail.discount/100) * printSaleDetail.subTotal) | number : '1.2-2'}}
                                        </label>
                                    </strong>
                                </span> <br/>

                                        <span>
                                    VAT:
                                    <strong> ${{printSaleDetail.vat | number : '1.2-2'}}</strong>
                                </span> <br/>

                                        <span>
                                    Grand Total:
                                    <strong>$ {{printSaleDetail.amount | number : '1.2-2'}} </strong>
                                </span>
                                    </div>
                                    <br/><br/>
                                </div>

                            </div>
                            <div class="modal-footer row">
                                <div class="col-12 m--align-right">
                                    <button type="button" (click)="_print_()" class="doNotPrint btn m-btn--pill m-btn--air btn-success m-btn m-btn--custom m-btn--bolder "> <i class="fa fa-print">&nbsp; Print</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Modal-->

                <br/>
                <mat-table [ngBusy]="busy" #table [dataSource]="dataSource" infiniteScroll
                           [infiniteScrollDistance]="2"
                           [infiniteScrollThrottle]="50"
                           (scrolled)="onScroll()"
                           [scrollWindow]="false">

                    <!-- ID Column -->
                    <ng-container matColumnDef="Id">
                        <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
                        <mat-cell *matCellDef="let _Proforma_row"> {{_Proforma_row.id}} </mat-cell>
                    </ng-container>

                    <!-- Bill_To Column -->
                    <ng-container matColumnDef="Bill_To">
                        <mat-header-cell *matHeaderCellDef> Bill To </mat-header-cell>
                        <mat-cell *matCellDef="let _Proforma_row"> <a href="#" (click)="sale_clicked(_Proforma_row)">{{_Proforma_row.bill_to}}</a> </mat-cell>
                    </ng-container>

                    <!-- Address Column -->
                    <ng-container matColumnDef="Address">
                        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                        <mat-cell *matCellDef="let _Proforma_row"> {{_Proforma_row.address}} </mat-cell>
                    </ng-container>

                    <!-- _Proforma_row Date Column -->
                    <ng-container matColumnDef="Proforma_Date">
                        <mat-header-cell *matHeaderCellDef> Sale Date </mat-header-cell>
                        <mat-cell *matCellDef="let _Proforma_row"> {{_Proforma_row.sale_date}} </mat-cell>
                    </ng-container>

                    <!-- Reference Column -->
                    <ng-container matColumnDef="Amount">
                        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                        <mat-cell *matCellDef="let _Proforma_row"> {{_Proforma_row.amount}} </mat-cell>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="Actions">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let _Proforma_row">
                            &emsp; &emsp;
                            <button disabled="true" id="{{_Proforma_row.id}}" name="{{_Proforma_row.bill_to}}" (click)="showConfirmation_Remove_proforma_Swal($event)" class="btn m-btn--pill btn-sm btn-outline-danger m-btn m-btn--custom" type="button">
                                x
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="proformaDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: proformaDisplayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
    </div>
</div>

