<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Dashboard
			</h3>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	Inner page content goes here
</div>
